<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.genilink.citationreceiver">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="30" />
    <application android:label="Genilink Citation Capture" android:usesCleartextTraffic="false" android:allowBackup="false">
        <activity android:name=".ShareActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/html" />
            </intent-filter>
        </activity>
        <receiver android:name=".ArmReceiver" android:exported="true" android:permission="android.permission.DUMP" />
        <provider android:name=".CaptureProvider" android:authorities="com.genilink.citationreceiver.capture"
            android:exported="true" android:readPermission="android.permission.DUMP" />
    </application>
</manifest>
